name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  dev:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Publish to Registry
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: lusinx/pressx/backend
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.TOKEN }}
        workdir: backend
        registry: docker.pkg.github.com
        tags: "dev-env, ${{ github.sha }}-dev"
        buildoptions: --target dev
  prod:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Publish to Registry
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: lusinx/pressx/backend
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.TOKEN }}
        workdir: backend
        registry: docker.pkg.github.com
        tags: "latest, ${{ github.sha }}-prod"

